<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.wkz.activitytransition">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wkz.activitytransition.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OverridePendingTransitionActivity1" />
        <activity android:name=".OverridePendingTransitionActivity2" />
        <activity
            android:name=".AnimStyleActivity1"
            android:theme="@style/AnimationTheme" />
        <activity
            android:name=".AnimStyleActivity2"
            android:theme="@style/AnimationTheme" />
        <activity android:name=".ActivityOptionsActivity1" />
        <activity android:name=".ActivityOptionsActivity2" />
        <activity
            android:name=".ActivityOptionsStyleActivity1"
            android:theme="@style/MaterialAnimationTheme" />
        <activity
            android:name=".ActivityOptionsStyleActivity2"
            android:theme="@style/MaterialAnimationTheme" />
        <activity android:name=".ActivityOptionsShareElementActivity1" />
        <activity android:name=".ActivityOptionsShareElementActivity2" />
        <activity android:name=".ActivityOptionsShareElementActivity3" />
    </application>

</manifest>